* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.caroselImage {
   width: 100%;
   height: 100vh;

}

.caroselImage img {
   width: 100%;
   height: 100%;
   filter: contrast(1.35) brightness(0.65);
}

.carouselCaption {
   top: 50%;
   transform: translateY(-50%);
   bottom: initial;
}

.where-h1-text,
.FindAperfectText {
   text-shadow: 8px 8px 12px #000;
}

.yourHomeExpertiesText {
   text-shadow: 8px 8px 12px #000, 9px 9px 9px blue;
}

.ourComponentContainer {
   transform-style: preserve-3d;
   height: 50vh;
}

.ourComponentContainermain {
   height: 100vh;
}

.ourComponentContainer .box {
   width: 150px;
   height: 200px;
   transform-style: preserve-3d;
   transition: 1.5s;
   transform: perspective(1000px) rotateY(0deg);
}

.ourComponentContainer .box div {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-origin: center;
   transform-style: preserve-3d;
   transform: rotateY(calc(var(--i)* 60deg)) translateZ(200px);
   -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}

.ourComponentContainer .box div img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
}

.popularBtnDiv {
   position: absolute;
   bottom: -100px;
}

.ourComponentImgDivBtn {
   color: #000;
   left: 7%;
   top: 10rem;
   background-color: rgba(225, 225, 225, 0.5);
}

.ourComponentImgDivBtn:hover {
   background-color: rgb(0, 0, 255, .5);
   color: #fff;

}

.ourComponentContainerDivColor {
   background-color: rgb(0, 0, 0);
   width: 100%;
   height: 100vh;
}

.container_box .card-details img {
   width: 50px;
   height: 50px;
   object-fit: cover;
   border: 1px solid black;
   margin-right: 10px;
}

.container_box {
   color: rgba(0, 0, 0, .8);
   box-shadow: 5px 5px 10px #babecc,
   -5px -5px 10px #fff;
}

.agent_box,
.NewsLetterContainer,
.NewsLetterInput {
   box-shadow: 5px 5px 10px #babecc,
   -5px -5px 10px #fff;

}

.agentBtn,
.reachOutHover,
.agent_box h6,
.NewsLetterInputBtn {
   box-shadow: 5px 5px 10px #babecc inset,
   -5px -5px 10px #fff inset;
}

.agentBtn:hover,
.reachOutHover:hover,
.NewsLetterInputBtn:hover {
   box-shadow: 5px 5px 10px #8ea2ec inset,
   -5px -5px 10px #747070 inset;
}

.NewsLetterContainer input {
   outline: none;
}

.agent_box h6 {
   position: absolute;
   bottom: 10%;
   display: block;
}

.agent_box img {
   width: 100%;
   height: 100%;
   aspect-ratio: 1;
   object-fit: cover;
   object-position: center 10px;
}

.newLetterImgDiv {
   height: 20%;
}

.newLetterImgDiv img {
   width: 100%;
   height: 100%;
   aspect-ratio: 2;
}

@media (max-width:480px) {
   .ourComponentContainer .box div {
      transform: rotateY(calc(var(--i)* 60deg)) translateZ(140px)
   }

   .ourComponentContainermain {
      height: 100vh;
   }

   .popularBtnDiv {
      position: absolute;
      bottom: -27%;
   }

}

@media (max-width:767px) {}

@media (min-width:768px) {
   .newLetterImgDiv {
      height: 20rem;
   }
}

@media (min-width:1200px) {
   .agent_box h6 {
      display: none;
   }

   .agent_box:hover h6 {
      position: absolute;
      bottom: 10%;
      display: block;
   }
}